# Cleaning "Technique"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'.\us_customers.csv', sep=";", encoding="utf-8")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No,VRAI
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,FAUX
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,VRAI
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,VRAI
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,VRAI
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes,VRAI
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,FAUX
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,VRAI
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,FAUX
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,FAUX
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,FAUX
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,FAUX
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN,VRAI
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI

In [4]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No,VRAI
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,FAUX
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,VRAI
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,VRAI
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,VRAI
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes,VRAI
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,FAUX
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,VRAI
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,FAUX
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,FAUX
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,FAUX
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,FAUX
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN,VRAI
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI

In [5]:
df = df.drop(columns="Not_Useful_Column")
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Tel_opt_in', 'Newsletter_opt_in'],
      dtype='object')

In [6]:
def strip_col(col):
    return col.str.strip() if col.dtype == "object" else col

df.apply(strip_col)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         20 non-null     int64
 1   First_Name         20 non-null     object
 2   Last_Name          19 non-null     object
 3   Phone_Number       18 non-null     object
 4   Address            20 non-null     object
 5   Tel_opt_in         20 non-null     object
 6   Newsletter_opt_in  16 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.2+ KB

In [8]:
df.apply(lambda cell_value: cell_value.str.strip() if cell_value.dtype == "object" else cell_value)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [9]:
import re

str_cols = df.select_dtypes(include=['object', 'string']).columns
str_cols

# 

mask = df[str_cols].apply(
    lambda col: col.map(
        lambda x: not bool(re.match(r'^[A-Za-z0-9](.*[A-Za-z0-9])?$', str(x)))
    )
)
mask

,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,True,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,True,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,True,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False

In [10]:
df_bad_lines = df[mask.any(axis=1)]
df_bad_lines

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No

In [11]:
df[~mask.any(axis=1)]

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [12]:
df = df[~mask.any(axis=1)]#.copy()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [13]:
# supprimer tous les caractères non numériques
df["Phone_Number"] = df["Phone_Number"].str.replace(r'[\D]', '', regex=True)
df["Phone_Number"] = df["Phone_Number"].replace('', pd.NA)
df["Phone_Number"]

0     1235455421
1     1236439775
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8           <NA>
9     1235455421
10           NaN
12    1235432345
13    8766783469
15    1235455421
16    1236439775
17     706695039
18          <NA>
19    8766783469
Name: Phone_Number, dtype: object

In [14]:
df["Phone_Number"] = df["Phone_Number"].astype("string")
df["Phone_Number"] = df["Phone_Number"].fillna('0000000000')
df["Phone_Number"]

0     1235455421
1     1236439775
3     1235432345
4     8766783469
5     3047622467
6     0000000000
7     8766783469
8     0000000000
9     1235455421
10    0000000000
12    1235432345
13    8766783469
15    1235455421
16    1236439775
17     706695039
18    0000000000
19    8766783469
Name: Phone_Number, dtype: string

In [15]:
# (123) 456-7890
    # 10 chiffres obligatoires
    # 0000000000

mask_valid = (
    (df["Phone_Number"] != "0000000000") &
    (df["Phone_Number"].str.fullmatch(r'\d{10}'))
)
mask_valid

0      True
1      True
3      True
4      True
5      True
6     False
7      True
8     False
9      True
10    False
12     True
13     True
15     True
16     True
17    False
18    False
19     True
Name: Phone_Number, dtype: boolean

In [16]:
df.loc[mask_valid, "Phone_Number"] = df.loc[mask_valid, "Phone_Number"].map(
    lambda x: f"({x[:3]}) {x[3:6]}-{x[6:]}"
)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,0000000000,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,706695039,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,0000000000,N/a,N/a,Yes
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [17]:
df["Address"].str.split(',', expand=True)

                       0              1       2
0         123 Shire Lane          Shire    None
1    93 West Main Street           None    None
3       980 Paper Avenue   Pennsylvania   18503
4       123 Dragons Road           None    None
5       768 City Parkway           None    None
6      1209 South Street           None    None
7          98 Clue Drive           None    None
8       123 Middle Earth           None    None
9       25th Main Street       New York    None
10        612 Shire Lane          Shire    None
12      2039 Main Street           None    None
13      343 City Parkway           None    None
15  2395 Hogwarts Avenue           None    None
16      121 Paper Avenue   Pennsylvania    None
17       3498 Super Lane           None    None
18                   N/a           None    None
19     910 Tatooine Road       Tatooine    None

In [37]:
df[["Street address", "State", "Zip"]] = df["Address"].str.split(',', expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,N,N,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",N,N,612 Shire Lane,Shire,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,N,343 City Parkway,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706695039,3498 Super Lane,Y,N,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Y,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

# Cleaning "Métier"

In [31]:
# RGPD


df[["Tel_opt_in", "Newsletter_opt_in"]] = df[["Tel_opt_in", "Newsletter_opt_in"]].astype("string")
df[["Tel_opt_in", "Newsletter_opt_in"]] = df[["Tel_opt_in", "Newsletter_opt_in"]].fillna("N")
df[["Tel_opt_in", "Newsletter_opt_in"]] = df[["Tel_opt_in", "Newsletter_opt_in"]].applymap(lambda x: "Y" if x.upper() in ["YES", "Y", "OK"] else "N")
df[["Tel_opt_in", "Newsletter_opt_in"]]

C:\Users\Geoffroy\AppData\Local\Temp\ipykernel_15624\1889154675.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[["Tel_opt_in", "Newsletter_opt_in"]] = df[["Tel_opt_in", "Newsletter_opt_in"]].applymap(lambda x: "Y" if x.upper() in ["YES", "Y", "OK"] else "N")

   Tel_opt_in Newsletter_opt_in
0           Y                 N
1           N                 Y
3           Y                 Y
4           Y                 N
5           Y                 Y
6           N                 N
7           N                 N
8           Y                 N
9           Y                 N
10          Y                 N
12          Y                 N
13          Y                 N
15          N                 N
16          Y                 N
17          Y                 N
18          N                 Y
19          Y                 N

In [32]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,Y,N,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",Y,N,612 Shire Lane,Shire,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,N,343 City Parkway,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706695039,3498 Super Lane,Y,N,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Y,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [34]:
df.loc[df["Phone_Number"] == "0000000000", "Tel_opt_in"] = "N"
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,N,N,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",N,N,612 Shire Lane,Shire,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,N,343 City Parkway,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706695039,3498 Super Lane,Y,N,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Y,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [ ]:
# Doit-on ajouter des règles métier ?
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,N,N,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",N,N,612 Shire Lane,Shire,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,N,343 City Parkway,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706695039,3498 Super Lane,Y,N,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Y,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None